.quiz-title {
    color: white;
    font-size: 1rem;
    text-shadow: 1px 1px black;
    margin-bottom: 12px;
}

.quiz-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
}

.score-container {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    justify-content: center;
}

.player-information {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid darkgrey;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    width: 160px;
    justify-content: center;
}

.player-name {
    text-transform: capitalize;
    font-size: 1rem;
}

.player-score {
    font-size: 1rem;
    color: #bd2c0a;
}

.multiple-choice-container {
    display: flex;
    flex-direction: column;
}

.multiple-choice {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 8px 12px;
    background: white;
    border-radius: 4px;
    margin: 8px 0;
    border: 1px solid darkgray;
}

.flag-card,
.celebrity-card,
.logo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flag-image,
.celebrity-image,
.logo-image {
    border: 1px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 0 12px 0;
    max-width: 75%;
    max-height: 300px;
}

#next-button {
    margin-top: 8px;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    color: Black;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
}

.radio-button {
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
}

.success,
.error {
    display: flex;
    text-align: center;
    margin: 16px;
    padding: 32px 16px;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    justify-content: center;
}

.success {
    background: green;
}

.error {
    background: red;
}

.highlight-correct {
    background: green;
    font-weight: bold;
}

.quiz-question {
    font-size: 1.25rem;
    margin-bottom: 4px;
    text-align: center;
}

.celebrity-name,
.logo-name {
    margin-bottom: 12px;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

.correct > .player-score {
    color: white;
}

.incorrect > .player-score {
    background-color: red;
    color: white;
}

@media (max-width: 600px) {
    .player-information {
        width: 40%;
    }
}