#year-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.movie-poster {
    max-width: 250px;
}

.year-button {
    padding: 8px;
    min-width: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.year-button:hover {
    background: lightblue;
    color: white;
}

.movie-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 16px;
}

.next-button {
    width: 100%;
    padding: 8px;
    margin-top: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.next-button:hover {
    background: darkslategray;
    color: white;
}