.player-name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.results-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 4px;
}

.answer-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.answer-list li {
    margin-top: 4px;
    padding: 4px;
    padding-right: 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 0.9rem;
}

.player-result {
    padding: 8px;
    background: white;
    border-radius: 4px;
    border: 1px solid black;
}

.update-score-container {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.quiz-title {
    text-align: center;
    font-size: 1.2rem;
    background: white;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
}

.score-input {
    padding: 6px 8px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid black;
    width: 50px;
}

.submit-button,
.next-button {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(48, 182, 215);
    border-radius: 4px;
}

.submit-button{
    border: 1px solid black;
    padding: 4px 8px;
}

.next-button {
    margin-top: 16px;
    padding: 8px 16px;
    border: 1px solid white;
}

.next-button:hover,
.submit-button:hover {
    background: darkslategray;
    color: white;
}

.answer-list {
    list-style-type: none;
    padding: 0;
}

.player-answer {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 0.85rem;
}

.answer-value {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 0.85rem;
}

.answer-point {
    margin-left: 20px;
    text-align: right;
    /* min-width: 50px; */
}

.correct {
    background-color: rgb(96, 231, 96);
    color: black;
}

.incorrect {
    background-color: rgb(255, 96, 96);
    color: white;
}

.partial {
    background-color: rgb(255, 255, 116);
    color: black;
}