.player-name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.results-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
}

.answer-list {
    list-style-type: none;
    padding: 0;
}

.answer-list li {
    margin-top: 4px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.player-result {
    padding: 8px;
    background: white;
    border-radius: 4px;
    border: 1px solid black;
    width: 150px;
}

.update-score-container {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.quiz-title {
    text-align: center;
}

.correct {
    background: lightgreen;
}

.incorrect {
    background: lightcoral;
}

.score-input {
    padding: 4px 8px;
    margin: 0;
    border-radius: 4px;
}