input {
    box-sizing: border-box;
    width: 100%;
    padding: 1px;
    text-align: center;
    margin-bottom: 4px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
}

.auth-with-fields {
    display: flex;
    margin-top: 96px;
    flex-direction: column;
    border: 1px solid black;
    background: white;
    padding: 16px;
    border-radius: 16px;
    width: 360px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}