.quiz-title {
    margin: 8px;
    color: white;
    font-size: 1rem;
    text-shadow: 1px 1px black;
}

.quiz-container {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding: 0;
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.player-information {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid white;
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 1px black;
    width: 135px;
    justify-content: space-between;
}

.player-name {
    text-transform: capitalize;
    font-size: 1rem;
}

.player-score {
    font-size: 1rem;
    color: #bd2c0a;
}

.score-container {
    display: flex;
    flex-direction: column;
}

.multiple-choice {
    display: flex;
}

.multiple-choice-label {
    width: 100%;
    min-width: 100px;
    padding-left: 4px;
}