.quiz-title {
    margin: 8px;
    color: white;
    font-size: 1rem;
    text-shadow: 1px 1px black;
}

.quiz-container {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding: 0;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
}

.score-container {
    display: flex;
    justify-content: center;
    justify-content: start;
    gap: 8px;
}

.player-information {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid white;
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 1px black;
    width: 135px;
    justify-content: space-between;
}

.player-name {
    text-transform: capitalize;
    font-size: 1rem;
}

.player-score {
    font-size: 1rem;
    color: #bd2c0a;
}

.score-container {
    display: flex;
    flex-direction: column;
}

.multiple-choice-container {
    display: flex;
    flex-direction: column;
}

.multiple-choice {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 4px 12px;
    background: white;
    border-radius: 4px;
    margin: 0 4px 4px 4px;
    gap: 4px;
}

.flag-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flag-image {
    border: 1px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 0 12px 0;
    max-width: 75%;
    max-height: 300px;
}

#next-button {
    margin-top: 4px;
    margin-left: 4px;
    padding: 4px 8px;
}

.radio-button {
    width: 20px;
    margin: 0;
}

.success {
    display: flex;
    text-align: center;
    background: green;
    margin: 8px;
    padding: 4px;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
}

.error {
    display: flex;
    text-align: center;
    background: red;
    margin: 8px;
    padding: 4px;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    justify-content: center;
}

.highlight-correct {
    background: green;
    font-weight: bold;
}

.quiz-question {
    margin: 4px 4px 8px 4px;
}
