* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
}

nav {
    flex: 0 0 auto;
    background-color: #1a2a3a;
    min-height: 100vh;
    max-width: 25%;
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1 1 auto;
    margin: 16px;
    flex-grow: 1;
}

/* Sidebar */
#home {
    display: flex;
    justify-content: center;
    margin: 16px 24px 4px 12px;
    padding: 4px;
    color: #d9d2d2;
    font-size: 1.8rem;
}

.category-heading {
    margin: 8px 24px 8px 12px;
    padding: 4px;
    color: #d9d2d2;
    border-bottom: 1px solid #d9d2d2;
}

.navigation-label {
    margin: 2px 24px 2px 12px;
    padding: 4px;
}

a {
    text-decoration: none;
    color: #d9d2d2;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.missing {
    background: #f4c3c3;
    border: 1px solid gray;
    border-radius: 4px;
}