{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
        <!-- Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
        <script src="{% static 'js/navigation.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</head>

<body>
    <!-- Navigation -->
    <nav>
        <a id="home" href="{% url 'quiz_home' %}">Home {% if user.is_superuser %}(A){% endif %}</a>

        <h3 class="category-heading">Question Databases</h3>
        <a class="navigation-label" href="{% if user.is_superuser %}{% url 'general_knowledge' %}{% endif %}">General Knowledge <span class="to-finish">({{ general_knowledge_count }})</span></a>
        <a class="navigation-label" href="{% if user.is_superuser %}{% url 'true_or_false' %}{% endif %}">True or False <span class="to-finish">({{ true_or_false_count }})</span></a>
        <a class="navigation-label" href="{% if user.is_superuser %}{% url 'flags' %}{% endif %}">Countries/Flag <span class="finished">({{flags_count}})</span></a>
        <a class="navigation-label" href="{% if user.is_superuser %}{% url 'logos' %}{% endif %}">Companies/Logo <span class="to-finish">({{logos_count}})</span></a>
        <a class="navigation-label" href="{% if user.is_superuser %}{% url 'jets' %}{% endif %}">Fighter Jets <span class="finished">({{jets_count}})</span></a>
        <a class="navigation-label" href="{% if user.is_superuser %}{% url 'celebrities' %}{% endif %}">Celebrities <span class="to-finish">({{celebrities_count}})</span></a>
        <a class="navigation-label" href="{% if user.is_superuser %}{% url 'movies' %}{% endif %}">Movies <span class="to-finish">({{movies_count}})</span></a>
        <a class="navigation-label" href="{% if user.is_superuser %}{% url 'locations' %}{% endif %}">Locations <span class="to-finish">({{locations_count}})</span></a>

        <h3 class="category-heading">Profile</h3>
        <a class="navigation-label" href="{% url 'admin:index' %}">Admin</a>
        {% if user.is_authenticated %}
            <a class="navigation-label" href="{% url 'account_logout' %}">Logout</a>
        {% else %}
            <a class="navigation-label" href="{% url 'account_login' %}">Login</a>
            <a class="navigation-label" href="{% url 'account_signup' %}">Register</a>
        {% endif %}
    </nav>

    <div id="main">
        {% block content %}
            
        {% endblock %}
    </div>
    
</body>
</html>