{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/active_quiz.css' %}">
{% endblock %}

{% block content %}
    <h1 class="quiz-title">{{ quiz.quiz_name }}</h1>

    <div class="quiz-container">
        <div class="score-container">
            {% for player in quiz.players.all %}
                <div class="player-information">
                    <h2 class="player-name">{{ player }}</h2>
                    <h3 class="player-score"> {{ player.player.player_score }}</h3>
                </div>            
            {% endfor %}
        </div>
    </div>

    {% for round in quiz.rounds.all %}
        <p>Question Type: {{ round.question_type }}</p>
    {% endfor %}

    {% for question in questions %}
        <p>Flag Questions:</p>
        <ul>
            {% for flag_question in question.flag_questions.all %}
                <li>{{ flag_question }}</li>
                <li>{{ flag_question.capital }}</li>
                <li>{{ flag_question.flag.url }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}