{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/active_quiz.css' %}">
{% endblock %}

{% block content %}
    <h1 class="quiz-title">{{ quiz.quiz_name }}</h1>

    <div class="quiz-container">
        <div class="score-container">
            {% for player in quiz.players.all %}
                <div class="player-information">
                    <h2 class="player-name">{{ player }}</h2>
                    <h3 class="player-score"> {{ player.player.player_score }}</h3>
                </div>            
            {% endfor %}
        </div>
    </div>

    {% for round in quiz.rounds.all %}
        <p>Question Type: {{ round.question_type }}</p>
    {% endfor %}

    {% for question in questions %}
        <div>
            <h2>Question: {{ question.text }}</h2>
            <!-- Display any other question details here -->
        </div>
    {% endfor %}

    <hr>
    <h2>Flag Questions:</h2>
    {% for flag in flag_questions %}
        <img src="{{ flag.flag.url }}" class="flag-image">
    {% endfor %}

    {% for flag_set in flags %}
        {{ flag_set.flag }}
        <div>
            {% for country in flag_set %}
                <button>{{ country }}</button>
                <img src="{{ flag }}" class="flag-image">
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}