{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/celebrities.css' %}">
{% endblock %}

{% block content %}
    <div class="database-container">
        <div class="data-card">
            <form class="form-container" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- First Name -->
                <div>
                    <label for="id_first_name">First Name:</label>
                    <input id="id_first_name" type="text" name="first_name" value="{{ celebrity.first_name }}">
                </div>

                <!-- Last Name -->
                <div>
                    <label for="id_last_name">Last Name:</label>
                    <input id="id_last_name" type="text" name="last_name" value="{{ celebrity.last_name }}">
                </div>
                    
                <!-- Placeholder Image -->
                <div class="flex">
                    <div class="image-placeholder">Placeholder</div>
                </div>

                <!-- Photo Button -->
                <div>
                    <label for="id_photo">Photo:</label>
                    <input id="id_photo" type="file" name="photo">
                </div>

                <!-- Date of Birth -->
                <div class="column-flex">
                    <label for="id_date_of_birth">Birthday:</label>
                    <input id="id_date_of_birth" type="date" name="date_of_birth" value="{{ celebrity.date_of_birth|date:'Y-m-d' }}">
                </div>

                <!-- Difficulty -->
                <div class="column-flex">
                    <label for="id_difficulty">Difficulty:</label>
                    <input id="id_difficulty" type="text" name="difficulty" value="{{ celebrity.difficulty }}">
                </div>

                <!-- Created By -->
                <div class="column-flex">
                    <label for="id_created_by">Created By:</label>
                    <select class="created_by" id="id_created_by" name="created_by">
                        {% for user in users %}
                            <option value="{{ user.id }}" {% if user.id == flag.created_by.id %}selected{% endif %}>
                                {{ user.player_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                <button class="submit" type="submit">Submit</button>
            </form> 
        </div>

        {% for celebrity in celebrities %}
            <div class="data-card">
                <form class="form-container" method="post" enctype="multipart/form-data" action="{% url 'edit_celebrities' celebrity.id %}">
                    {% csrf_token %}

                    <!-- First Name -->
                    <div>
                        <label for="id_flag">First Name:</label>
                        <input id="id_first_name" type="text" name="first_name" value="{{ celebrity.first_name }}">
                    </div>

                    <!-- Last Name -->
                    <div>
                        <label for="id_flag">Last Name:</label>
                        <input id="id_last_name" type="text" name="last_name" value="{{ celebrity.last_name }}">
                    </div>
                    
                    <!-- Celebrity Photo -->
                    <div class="flex">
                        {% if celebrity.photo %}
                            <img class="card-image" src="{{ celebrity.photo.url }}" alt="">
                        {% endif %}
                    </div>

                    <!-- Photo Button -->
                    <div>
                        <label for="id_photo">Photo:</label>
                        <input id="id_photo" type="file" name="photo">
                    </div>

                    <!-- Date of Birth -->
                    <div class="column-flex">
                        <label for="id_date_of_birth">Birthday:</label>
                        <input id="id_date_of_birth" class="{% if celebrity.date_of_birth == None %}missing{% endif %}" type="date" name="date_of_birth" value="{{ celebrity.date_of_birth|date:'Y-m-d' }}">
                    </div>

                    <!-- Difficulty -->
                    <div class="column-flex">
                        <label for="id_difficulty">Difficulty:</label>
                        <input id="id_difficulty" class="{% if celebrity.difficulty == None %}missing{% endif %}  type="text" name="difficulty" value="{{ celebrity.difficulty }}">
                    </div>

                    <!-- Created By -->
                    <div class="column-flex">
                        <label for="id_created_by">Created By:</label>
                        <select class="created_by" id="id_created_by" name="created_by">
                            {% for user in users %}
                                <option value="{{ user.id }}" {% if user.id == movie.created_by.id %}selected{% endif %}>
                                    {{ user.player_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <button class="submit" type="submit">Save</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}