{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/flags.css' %}">
{% endblock %}

{% block content %}
    <button id="go-to-missing">Go to Missing</button>

    <!-- Add new item -->
    <div class="database-container">
        <div class="data-card">
            <form class="form-container" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Country -->
                <div>
                    <label class="field-label"  for="id_country">Country:</label>
                    <input id="id_country" type="text" name="country" value="{{ flag.country }}">
                </div>

                <!-- Placeholder Image -->
                <div class="flex">
                    <div class="image-placeholder">Placeholder</div>
                </div>

                <!-- Flag Image -->
                <div>
                    <label class="field-label"  for="id_flag">Flag:</label>
                    <input id="id_flag" type="file" name="flag">
                </div>

                <!-- Capital -->
                <div class="column-flex">
                    <label class="field-label"  for="id_capital">Capital:</label>
                    <input id="id_capital"" type="text" name="capital" value="{{ flag.capital }}">
                </div>

                <!-- Difficulty -->
                <div class="column-flex">
                    <label class="field-label"  for="id_difficulty">Difficulty:</label>
                    <input id="id_difficulty" type="text" name="difficulty" value="{{ flag.difficulty }}">
                </div>
                
                <button class="submit" type="submit">Submit</button>
            </form> 
        </div>
        
        {% for flag in flags %}
            <div class="data-card">
                <form class="form-container" method="post" enctype="multipart/form-data" action="{% url 'edit_flags' flag.id %}">
                    {% csrf_token %}

                    <!-- Country -->
                    <div>
                        <label class="field-label" for="id_country">Country:</label>
                        <input id="id_country" type="text" name="country" value="{{ flag.country }}">
                    </div>

                    <!-- Flag Image -->
                    <div class="flex">
                        {% if flag.flag %}
                            <img class="card-image" src="{{ flag.flag.url }}" alt="">
                        {% endif %}
                    </div>

                    <!-- Flag -->
                    <div>
                        <label class="field-label" for="id_flag">Flag:</label>
                        <input id="id_flag" type="file" name="flag">
                    </div>

                    <!-- Capital -->
                    <div class="column-flex">
                        <label class="field-label" for="id_capital">Capital:</label>
                        <input id="id_capital" class="{% if not flag.capital %}missing{% endif %}" type="text" name="capital" value="{{ flag.capital }}">
                    </div>

                    <!-- Difficulty -->
                    <div class="column-flex">
                        <label class="field-label" for="id_difficulty">Difficulty:</label>
                        <input id="id_difficulty" class="{% if not flag.difficulty %}missing{% endif %}" type="text" name="difficulty" value="{{ flag.difficulty }}">
                    </div>

                    <button class="submit" type="submit">Save</button>
                </form>
            </div>
        {% endfor %}
    </div>
    
    <script>
        document.getElementById('go-to-missing').addEventListener('click', function() {
            const missingElement = document.querySelector('.missing');
            if (missingElement) {
                missingElement.scrollIntoView({ behavior: 'auto' });
            } else {
                alert('No missing elements found.');
            }
        });
    </script>

{% endblock %}