{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/flags.css' %}">
{% endblock %}

{% block content %}
    <!-- Add new item -->
    <div class="country-flex">
        <div class="country">
            <form class="flag-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <input id="id_country" type="text" name="country" value="{{ flag.country }}">
                </div>
                <div>
                    <label for="id_flag">Flag:</label>
                    <input id="id_flag" type="file" name="flag">
                </div>
                <!-- <div class="flex">
                    <label for="file-upload" class="custom-file-upload">
                        Upload Image
                    </label>
                    <input id="file-upload" type="file"/>
                </div> -->
                <div class="column-flex">
                    <label for="id_capital">Capital:</label>
                    <input id="id_capital"" type="text" name="capital" value="{{ flag.capital }}">
                </div>
                <div class="column-flex">
                    <label for="id_difficulty">Difficulty:</label>
                    <input id="id_difficulty" type="text" name="difficulty" value="{{ flag.difficulty }}">
                </div>
                <div class="column-flex">
                    <label for="id_created_by">Created By:</label>
                    <select class="created_by" id="id_created_by" name="created_by">
                        {% for user in users %}
                            <option value="{{ user.id }}" {% if user.id == flag.created_by.id %}selected{% endif %}>
                                {{ user.player_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button class="submit" type="submit">Submit</button>
            </form> 
        </div>
        
        {% for flag in flags %}
            <div class="country">
                <form class="edit-country-form" method="post" enctype="multipart/form-data" action="{% url 'edit_flags' flag.id %}">
                    {% csrf_token %}
                    <div>
                        <input id="id_country" type="text" name="country" value="{{ flag.country }}">
                    </div>
                    <div class="flex">
                        {% if flag.flag %}
                            <img class="country-flag" src="{{ flag.flag.url }}" alt="">
                        {% endif %}
                    </div>
                    <div>
                        <label for="id_flag">Flag:</label>
                        <input id="id_flag" type="file" name="flag">
                    </div>
                    <!-- <div class="flex">
                        <label for="file-upload" class="custom-file-upload">
                            Upload Image
                        </label>
                        <input id="file-upload" type="file"/>
                    </div> -->
                    <div class="column-flex">
                        <label for="id_capital">Capital:</label>
                        <input id="id_capital" class="{% if flag.capital == None %}missing{% endif %} type="text" name="capital" value="{{ flag.capital }}">
                    </div>
                    <div class="column-flex">
                        <label for="id_difficulty">Difficulty:</label>
                        <input id="id_difficulty" class="{% if flag.difficulty == None %}missing{% endif %}  type="text" name="difficulty" value="{{ flag.difficulty }}">
                    </div>
                    <div class="column-flex">
                        <label for="id_created_by">Created By:</label>
                        <select class="created_by" id="id_created_by" name="created_by">
                            {% for user in users %}
                                <option value="{{ user.id }}" {% if user.id == flag.created_by.id %}selected{% endif %}>
                                    {{ user.player_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="submit" type="submit">Save</button>
                </form>
            </div>
        {% endfor %}
    </div>

    
{% endblock %}