{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz_site/jets.css' %}">
{% endblock %}

{% block content %}
    <!-- Add new item -->
    <div class="database-container">
        <div class="data-card">
            <form class="form-containe" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Name -->
                <div>
                    <input id="id_name" type="text" name="name" value="{{ jet.name }}">
                </div>

                <!-- Code name -->
                <div>
                    <label for="id_code_name">Code Name:</label>
                    <input id="id_code_name" type="text" name="code_name" value="{{ jet.code_name }}">
                </div>

                <!-- Placeholder Image -->
                <div class="flex">
                    <div class="image-placeholder">Placeholder</div>
                </div>

                <!-- Photo -->
                <div>
                    <label for="id_photo">Jet:</label>
                    <input id="id_photo" type="file" name="photo">
                </div>

                <!-- Difficulty -->
                <div class="column-flex">
                    <label for="id_difficulty">Difficulty:</label>
                    <input id="id_difficulty" type="text" name="difficulty" value="{{ jet.difficulty }}">
                </div>

                <button class="submit" type="submit">Submit</button>
            </form> 
        </div>

        {% for jet in jets %}
            <div class="data-card">
                <form class="form-containe" method="post" enctype="multipart/form-data" action="{% url 'edit_jets' jet.id %}">
                    {% csrf_token %}

                    <!-- Name -->
                    <div>
                        <input id="id_name" type="text" name="name" value="{{ jet.name }}">
                    </div>

                    <!-- Code name -->
                    <div>
                        <label for="id_code_name">Code Name:</label>
                        <input id="id_code_name" type="text" name="code_name" value="{{ jet.code_name }}">
                    </div>

                    <!-- Jet Image -->
                    <div class="flex">
                        {% if jet.photo %}
                            <img class="card-image" src="{{ jet.photo.url }}" alt="">
                        {% endif %}
                    </div>

                    <!-- Jet Image -->
                    <div>
                        <label for="id_photo">Jet:</label>
                        <input id="id_photo" type="file" name="photo">
                    </div>

                    <!-- Difficulty -->
                    <div class="column-flex">
                        <label for="id_difficulty">Difficulty:</label>
                        <input id="id_difficulty" type="text" name="difficulty" value="{{ jet.difficulty }}">
                    </div>

                    <button class="submit" type="submit">Submit</button>
                </form>
            </div>
        {% endfor %}
    </div>

{% endblock %}
