{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/logos.css' %}">
{% endblock %}

{% block content %}
    <!-- Add new item -->
    <div class="database-container">
        <div class="data-card">
            <form class="form-containe" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Company -->
                <div>
                    <label for="id_company">Company:</label>
                    <input id="id_company" type="text" name="company" value="{{ logo.company }}">
                </div>

                <!-- Placeholder Image -->
                <div class="flex">
                    <div class="image-placeholder">Placeholder</div>
                </div>

                <!-- Logo Image -->
                <div>
                    <label for="id_logo">Logo:</label>
                    <input id="id_logo" type="file" name="logo">
                </div>

                <!-- Difficulty -->
                <div class="column-flex">
                    <label for="id_difficulty">Difficulty:</label>
                    <input id="id_difficulty" type="text" name="difficulty" value="{{ logo.difficulty }}">
                </div>

                <button class="submit" type="submit">Submit</button>
            </form> 
        </div>

        {% for logo in logos %}
            <div class="data-card">
                <form class="form-containe" method="post" enctype="multipart/form-data" action="{% url 'edit_logos' logo.id %}">
                    {% csrf_token %}

                    <!-- Country -->
                    <div>
                        <input id="id_company" type="text" name="company" value="{{ logo.company }}">
                    </div>

                    <!-- Logo Image -->
                    <div class="flex">
                        {% if logo.logo %}
                            <img class="card-image" src="{{ logo.logo.url }}" alt="">
                        {% endif %}
                    </div>

                    <!-- Logo -->
                    <div>
                        <label for="id_logo">Logo:</label>
                        <input id="id_logo" type="file" name="logo">
                    </div>

                    <!-- Difficulty -->
                    <div class="column-flex">
                        <label for="id_difficulty">Difficulty:</label>
                        <input id="id_difficulty" class="{% if logo.difficulty == None %}missing{% endif %}  type="text" name="difficulty" value="{{ logo.difficulty }}">
                    </div>

                    <button class="submit" type="submit">Save</button>
                </form>
            </div>
        {% endfor %}

    </div>
{% endblock %}