{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/general/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Quiz Home</h1>
        <p class="instructions">Welcome to the Quiz Home page.</p>

        {% if not user.is_authenticated %}
            <p class="instructions">Let's get you logged in. If you already have an account you can <a class="authentication-label" href="{% url 'account_login' %}">Login</a> using the credentials below</p>
            <hr>
            <p class="instructions">Username: <span class="bold">yourname</span></p>
            <p class="instructions">Password: <span class="bold">quizparticipant**</span></p>
            <hr>
            <p class="instructions">If you do not have an account you can <a class="authentication-label" href="{% url 'account_signup' %}">Register</a>. Use the password above.</p>
            <p class="instructions">Not Sure? If you are not on this you are not registered.</p>

            <div class="select-users">
                {% for user in users %}
                    <div class="question">
                        <h2 class="user-title">{{ user.username }}</h2>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <form method="post">
                {% csrf_token %}
                <!-- Quiz Name -->
                <p class="instructions">Enter the quiz name:</p>
                <div class="form-group">
                    <input id="id_quiz_name" type="text" name="quiz_name" required>
                </div>
        
                <!-- Players -->
                <p class="instructions">Who is participating in the quiz?</p>
                <div class="select-users small-spacing">
                    {% for user in quiz_selection_form.users.field.queryset %}
                        {% if not user.is_superuser %}
                            <div class="user">
                                <input class="question-checkbox" type="checkbox" name="{{ quiz_selection_form.users.html_name }}" value="{{ user.id }}">
                                <h2 class="user-title">{{ user.username }}</h2>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        
                <!-- Rounds -->
                <p class="instructions">What question sets do you want?</p>
                <div class="select-questions">
                    {% for round in quiz_selection_form.rounds.field.queryset %}
                        <div class="question {% if round.disabled %}disabled{% endif %}">
                            <input class="question-checkbox" type="checkbox" name="{{ quiz_selection_form.rounds.html_name }}" value="{{ round.id }}">
                            <h2 class="question-title">{{ round.question_type }}</h2>
                        </div>
                    {% endfor %}
                </div>
        
                <!-- Exclude Previous Questions -->
                <div class="form-group">
                    <input type="checkbox" id="id_exclude_previous" name="exclude_previous">
                    <label for="id_exclude_previous">Exclude questions from previous quizzes</label>
                </div>
        
                <input class="quiz-submit" type="submit" value="Create Quiz">
            </form>
        {% endif %}
    </div>

{% endblock %}