{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/active_quiz.css' %}">
{% endblock %}
{% block content %}
    <h1 class="quiz-title">{{ quiz.quiz_name }}</h1>
    <div class="quiz-container">
        <div class="question-container">
            {% if 'Flags' in quiz.random_numbers %}
                {% include 'flag_content.html' %}
            {% endif %}
        </div>
        
        <div class="score-container">
            {% for player in quiz.players.all %}
                <div class="player-information">
                    <h2 class="player-name">{{ player }}</h2>
                    <h3 class="player-score"> {{ player.player.player_score }}</h3>
                </div>            
            {% endfor %}
        </div>
        
        <div class="question-counter">
            <p>Current Question: {{ quiz.question_counter }}</p>
        </div>
    </div>
{% endblock %}