{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/active_quiz/active_quiz.css' %}">
{% endblock %}

{% block content %}
    <script>
        function checkForUpdates() {
            fetch("{% url 'active_quiz:check_update' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.update) {
                        location.reload();
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        console.log("Update Checked")
        setInterval(checkForUpdates, 2000);
    </script>

    <div class="container">
        <h1 class="quiz-title">{{ quiz.quiz_name }} ({{ current_round }})</h1>
        <div class="quiz-container">
            <div class="question-container">
                {% if current_flag and current_round == "Flags" %}
                    {% include 'flag_content.html' %}
                {% elif current_question and current_round == "General Knowledge" %}
                    {% include 'general_knowledge_content.html' %}
                {% elif current_flag and current_round == "Capital Cities" %}
                    {% include 'capital_cities_content.html' %}
                {% elif current_celebrity and current_round == "Celebrities" %}
                    {% include 'celebrities_content.html' %}
                {% endif %}
            </div>
            
            {% if user.username == 'david' %}
                <div class="score-container">
                    {% for player in quiz.players.all %}
                        <div class="player-information {% if player.player.question_answered == 1 %}correct{% elif player.player.question_answered == 2 %}incorrect{% endif %}">
                            <h2 class="player-name">{{ player }}</h2>
                            <h3 class="player-score">
                                {{ player.player.player_score }} / {{ player.player.player_score|add:player.player.incorrect_answers }}
                            </h3>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="messages">
        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}