{% if current_flag %}
    <div class="flag-card">
        <img class="flag-image" src="{{ current_flag.flag.url }}" alt="{{ current_flag.country }}">
    </div>

    <div class="multiple-choice-container">
        <form id="quiz-form" method="post" action="{% url 'active_quiz:next_question' %}">
            {% csrf_token %}
            {% if request.user.username != 'david' %}
                {% for choice in choices %}
                    <div class="multiple-choice">
                        <input type="radio" class="radio-button" id="choice_{{ forloop.counter }}" name="answer" value="{{ choice }}" 
                               {% if request.user.username != 'david' and request.user.player.incorrect_answers|add:request.user.player.player_score != quiz.question_counter %}disabled{% endif %}>
                        <label class="multiple-choice-label" for="choice_{{ forloop.counter }}">{{ choice }}</label>
                    </div>
                {% endfor %}
            {% else %}
                {% for choice in choices %}
                    <div class="multiple-choice">
                        <label class="multiple-choice-label" for="choice_{{ forloop.counter }}">{{ choice }}</label>
                    </div>
                {% endfor %}
            {% endif %}
            <input type="hidden" name="correct_answer" value="{{ current_flag.country }}">
            <button type="submit" id="next-button"
                    {% if request.user.username != 'david' and request.user.player.incorrect_answers|add:request.user.player.player_score != quiz.question_counter %}disabled{% endif %}>Next</button>
        </form>
    </div>
{% else %}
    <p>No flags available.</p>
{% endif %}

<script>
    document.getElementById('quiz-form').addEventListener('submit', function(event) {
        const user = "{{ request.user.username }}";
        if (user === 'david') {
            event.preventDefault();
            const correctAnswer = "{{ current_flag.country }}";
            const labels = document.querySelectorAll('.multiple-choice-label');
            labels.forEach(label => {
                if (label.textContent.trim() === correctAnswer) {
                    label.parentElement.classList.add('highlight-correct');
                }
            });

            setTimeout(() => {
                document.getElementById('quiz-form').submit();
            }, 2000);
        } else {
            const selected = document.querySelector('input[name="answer"]:checked');
            if (!selected) {
                event.preventDefault();
                alert('Please select an answer before proceeding.');
            }
        }
    });
</script>